$size-root: 10px;
$size-width: 100;
$size-height: 100;
$position: center;
$color-primary: #fff;
$color-secondary: #ccc;
$color-header-button: (
  orange: #f09b00,
  blue: #4d4dad,
  green: #285828
);
$font-primary: Oswald;
$font-secondary: sans-serif;

body, h1, h2, h3, a {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
}

.headline {
  font: bold 2em $font-secondary;
  margin: 20px 0;
}

.container {
  width: $size-width*12 + px;
  margin: 0 auto;
  padding: 0 20px;
}

.text {
  font: $size-root*1.6 $font-secondary;
}
